<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home</title>
    <head>
    <body>
    <p>Hello! Welcome to the assignment site.</p>
    <p>During this semester, we did five homework, one mid-term, and one final.</p>
    <p>My favorite assignment is the mid-term. I think having the ability to use python and code to deal with pictures is amazing.</p>
    <p>I am new to programming. Engi1006 my first programming class. I have never thought about using python to achieve different effects on picture processing. Now, I am very interested in the graphic track of CS.  

    </body>
</html>

