<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home</title>
    <head>
    <body>
    <p>Hello! Welcome to my spring semester class list site!</p>
    <p> I took six classes this semester. They are <b>Python, University Writing, Linear Algebra, Intensive CHEM Lab, Elementary French II, and Physics 1602</b>.</p> 
    <p> Among them, my favorite class is University Writing. This class has changed my perspectives about writing. I started to enjoy sharing my own writings and reading the others' works. It brought me a lot of joy.</p>
    </body>
</html>

