<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home</title>
    <head>
    <body>
    <p>Hello! Welcome to my site!</p>
    <p>My name is Yihan.You can call me Olive. I am a rising sophomore at Columbia.</p>
    <p>My intended major is Chemical Engineering.I might minor in CS.</p>
    <a href="https://www.columbia.edu/">Visit My Favorite Webpage</a>
    
    <a href="/1006">Visit Assignment Page for Engi1006</a>
    
    <a href="/class">Visit My Spring 2020 Class Page</a>

    </body>
</html>

